/* SwitchPill.module.css */
.slider {
  display: inline-block;
  position: relative;
  transition: background-color 0.3s;
  border-radius: 20px;
  background-color: gray;
  cursor: pointer;
  width: 40px;
  height: 20px;
}

.slider:before {
  position: absolute;
  bottom: 2px;
  left: 2px;
  transition: transform 0.3s;
  border-radius: 50%;
  background-color: white;
  width: 16px;
  height: 16px;
  content: '';
}

.switchPillInput[type='checkbox'] {
  display: none;
}

.switchPillInput[type='checkbox']:checked+.slider {
  background-color: #2196f3;
}

.switchPillInput[type='checkbox']:checked+.slider:before {
  transform: translateX(20px);
}