.container {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  border: none;
  scroll-snap-align: start;
}

.card img {
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 5px;
  background: white;
  border: 2px solid #aaa;
  transition: all 0.3s;
  box-shadow: 3px 3px 1px rgb(0 0 0 / 40%);
}

.card:hover img,
.card img.active {
  border: 2px solid black;
  box-shadow: 2px 2px 1px rgb(0 0 0 / 80%);
}

.card span {
  margin-top: 5px;
  font-size: 0.7em;
  transition: all 0.3s;
}