.container {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  border: none;
  scroll-snap-align: start;
}

.card img {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 5px;
  background: white;
  border: 1px solid #dbdbdb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 2px solid transparent;
  transition: all 0.3s;
}

.card:hover img,
.card img.active {
  border: 2px solid black;
}

.card span {
  margin-top: 5px;
  font-size: 0.7em;
  transition: all 0.3s;
}