.previewContainer {
  position: sticky;
  top: 0;
  background-color: #fffefc;
  padding: 0 10px;
  border-bottom: 1px solid #eee;
  box-shadow: 3px 3px 1px rgb(0 0 0 / 40%);
  z-index: 1;
  transition: all 0.1s;

  @media screen and (min-width: 768px) {
    max-width: 60vw;
    position: relative;
  }
}

.previewContainer.sticky {
  transform: scale(0.95);
  border: 2px solid #aaa;
  box-shadow: 4px 4px 1px rgb(0 0 0 / 20%);
  border-radius: 5px;
}

.previewContainer svg {
  display: block;
  max-width: 50vw;
  margin: 0 auto 10px;
}

.previewContainer.sticky .actions {
  display: none;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}