.app {
  margin: 0;
  background-color: floralwhite;
  padding: 0;
  user-select: none;
}

.logo {
  margin: 0;
  padding: 10px 0 0px;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.title {
  margin: 0;
  border-bottom: 1px solid #dddddd;
  padding: 0 0 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  font-weight: 400;
}

.footer {
  border-top: 1px solid lightgray;
  text-align: center;
}

.footer p {
  padding: 10px 0;
  margin: 0;
  font-size: 0.8em;
}