.grid {
  @media screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.title {
  margin: 0;
  border-bottom: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  font-weight: 400;
}