.container {
  padding: 0 15px;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  font-size: 18px;
  margin-bottom: 10px;
}

.selectedOption {
  margin-bottom: 10px;
}

.switchContainer {
  display: flex;
  align-items: center;
}

.switchLabel {
  margin-right: 10px;
}

.colorPickerContainer {
  display: flex;
  align-items: center;
}

.colorLabel {
  margin-right: 10px;
}

.cardContainer {
  display: flex;
  align-items: center;
}

.cardLabel {
  margin-right: 10px;
}