.container {
  padding: 0 15px;

  @media screen and (min-width: 768px) {
    border-left: 1px solid #eeeeee;
    max-height: calc(100vh - 125px);
    overflow: scroll;
  }
}

.formGroup {
  position: relative;
  border-bottom: 1px solid #eeeeee;
}

.color {
  padding: 10px 0;
}

.card,
.switch {
  padding: 15px 0;
}

.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  display: inline-block;
  margin: 0;
  margin-left: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-weight: 900;
}

.switchLabel {
  margin-right: 10px;
}

.colorPickerContainer {
  display: block;
  align-items: center;
}

.colorLabel {
  margin-right: 10px;
}

.cardContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cardLabel {
  margin-right: 10px;
}