.container {
  padding: 0 15px;

  @media screen and (min-width: 600px) {
    max-height: 90vh;
    overflow: scroll;
    border-left: 1px solid #eeeeee;
  }
}

.formGroup {
  padding: 15px 0;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}

.color {
  padding: 10px 0;
}

.card,
.switch {}

.label {
  display: inline-block;
  font-size: 1em;
  margin: 0;
  font-weight: 900;
  text-transform: uppercase;
}

.switchContainer {
  float: right;
}

.switchLabel {
  margin-right: 10px;
}

.colorPickerContainer {
  display: block;
  align-items: center;
}

.colorLabel {
  margin-right: 10px;
}

.cardContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cardLabel {
  margin-right: 10px;
}