.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  background: white;
  padding: 5px;
}

.label {
  display: inline-block;
  margin: 0;
  margin-left: 5px;
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: 700;
}

.colorOption {
  position: relative;
  transition: all 0.1s;
  margin: 8px;
  border: 1px solid transparent;
  border-radius: 100%;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.colorOption.selected {
  transform: scale(1.2);
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.colorOption:active {
  transform: scale(0.95);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.colorOption:hover {
  border: 1px solid rgb(0 0 0 / 80%);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.colorHex {
  position: absolute;
  top: 8px;
  right: 0;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 15px;
  line-height: 1em;
  color: white;
  font-size: 0.7em;
  font-weight: 500;
  user-select: all;
}