.sliderContainer {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.btn-wrapper {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.btn:hover {
  border: 2px solid black;
  transform: scale(0.95);
  box-shadow: 1px 1px 1px rgb(0 0 0 / 80%);
}

.btn {
  border: 2px solid grey;
  padding: 5px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: white;
  text-align: center;
  color: black;
  font-weight: 800;
  border-radius: 50%;
  transition: all 0.1s;
  box-shadow: 3px 3px 1px rgb(0 0 0 / 40%);
}

.disable {
  opacity: 0.5;
  pointer-events: none;
}